* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar-scrolled {
    background: #2B2B2B !important;
}

header nav {
    transition: all 0.1s;
    background: transparent;
    position: fixed !important;
    top: 0px;
    width: 100%;
    padding: 0px;

    img {
        @media (max-width:991px) {
            width: 200px;
        }
    }

    .nav-link {
        color: #FFF !important;
        font-family: Mulish !important;
        font-size: 16px !important;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    button {
        background: none;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 15px;
        border: none;
        border-radius: 29px;
        border: 1px solid #FFF;
        color: #FFF;
        font-family: Unbounded;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.home-banner {
    height: 100%;
    width: 100%;
    padding: 0px;

    video {
        width: 100%;
        height: 100%;
    }
}

.home-about-us {
    padding: 100px 0px;

    h6 {
        color: #6B3A1D;
        font-family: "Bebas Neue";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 136.364% */
        letter-spacing: 2.2px;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }

    h2 {
        color: #2B2B2B;
        font-family: Poppins;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        /* 108.571% */
        text-transform: uppercase;
        padding-bottom: 25px;
        margin-bottom: 0px;
    }

    p {
        color: #323031;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        /* 187.5% */
        margin-bottom: 0px;
        padding-bottom: 17px;
    }

    button {
        background: none;
        padding-bottom: 5px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #2D2D2D;
        ;
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            color: #2D2D2D;
            font-family: Unbounded;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            /* 145.455% */
            text-decoration: none;
        }
    }
}

.usps {
    h2 {
        color: var(--Primary, #B93822);
        text-align: center;
        font-family: Unbounded;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 100% */
    }

    p {
        color: #878680;
        text-align: center;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.home-our-products {
    padding: 50px 0px;

    h2 {
        color: var(--Color-Gray-1, #3A3A3A);
        text-align: center;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 48px */
    }

    .product-box {
        background: var(--Color-Light-BG, #F4F5F7);
        height: 100%;

        .stone {
            padding: 10px;

            h3 {
                color: var(--Color-Gray-1, #3A3A3A);
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                /* 28.8px */
            }

            p {
                color: var(--Color-Gray-3, #898989);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 24px */
            }

            li {
                color: var(--Color-Gray-1, #3A3A3A);
                font-family: Poppins;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px;
                /* 136.364% */
                list-style: none;
            }

            .home-stone {
                margin-top: -40px;
                display: flex;
                align-items: center;
                flex-direction: column;

                button {
                    border-radius: 5px;
                    background: #B93822;
                    padding: 5px 20px;
                    border: none;
                    margin-top: 10px;

                    a {
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    button {
        border-radius: 5px;
        border: 1px solid var(--Primary, #B93822);
        background: var(--Primary, #B93822);
        padding: 5px 40px;

        a {
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            /* 24px */
            text-decoration: none;
        }
    }
}

.home-applications {
    padding: 50px 0px;
    background: #323031;
}

.home-why-choose-us {
    padding: 50px 0px;

    h6 {
        color: var(--Primary, #B93822);
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        /* 225% */
    }

    h2 {
        color: #1F1E17;
        font-family: Manrope;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: 57.6px;
        /* 120% */
    }

    h3 {
        color: #1F1E17;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 33.6px;
        /* 140% */
    }

    p {
        color: #878680;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        /* 187.5% */
    }

    button {
        border-radius: 10px;
        background: var(--Primary, #B93822);
        border: none;
        padding: 15px 50px;

        a {
            color: #FFF;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            /* 214.286% */
            text-decoration: none;
        }
    }
}

.home-testimonials {
    background: var(--Color, #FDF4F2);
    padding: 100px 0px;

    h6 {
        color: var(--Primary, #B93822);
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        /* 225% */
    }

    h2 {
        color: #1F1E17;
        font-family: Manrope;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: 57.6px;
        /* 120% */
    }

    h3 {
        color: #1F1E17;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 30px;
        /* 125% */
    }

    p {
        color: #878680;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        /* 187.5% */
    }

    button {
        border-radius: 10px;
        background: var(--Primary, #B93822);
        border: none;
        padding: 15px 50px;

        a {
            text-decoration: none;
            color: #FFF;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            /* 214.286% */
        }
    }

    .box {
        border-radius: 10px;
        background: #FFF;
        padding: 20px;
    }
}